<!DOCTYPE html>
<html>
  <head>
    <title>mitchelparish.com</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= favicon_link_tag asset_path('logosmall.png') %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-10">
        </div>
        <div class="col-lg-1">
        </div>
      </div>
    </div>

    <footer class="footer mt-auto py-3">
    </footer>
  </body>
</html>
